#root {
  background-color: #d5d0c5;
  height: 100%;
  margin: 0 10px 0 10px;
  padding: 0;
}

body ,html {
  margin: 0%;
  background-color: #d5d0c5;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#footer {
  margin: 0;
  width: 100%;
  text-align: center;
}

/* for the issue page */
.issue-content {
    margin: 2rem 10rem;
}

.issue-content h2 {
    font-family: 'Poor story';
    font-weight: bold;
    font-size: 30px;
} 

.issue-content input {
    margin-left: 2rem;
    border: none;
    outline: none;
    padding: 1.4rem;
    padding-right: 8rem;
    border-radius: .5rem;
    font-size: 22px;
}

.issue-content textarea {
    margin-left: 2rem;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 1rem;
}

.issue-content button {
    padding: 1rem 2rem;
    margin: 1.3rem;
    margin-left: 90%;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 1rem;
    font-size: 23px;
    font-family: 'poor story';
    background: #B9892D;
    color: #fff;
    cursor: pointer;
}

.issue-content button:hover {
    background: #ac7818;
}
