#root {
  background-color: #d5d0c5;
  height: 100%;
  margin: 0 10px 0 10px;
  padding: 0;
}

body ,html {
  margin: 0%;
  background-color: #d5d0c5;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#footer {
  margin: 0;
  width: 100%;
  text-align: center;
}
