#root {
  background-color: #d5d0c5;
  height: 100%;
  margin: 0 10px 0 10px;
  padding: 0;
}

body ,html {
  margin: 0%;
  background-color: #d5d0c5;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#footer {
  bottom: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

/* for the issue page */
.issue-content {
    display: flex;
    margin: 1rem 10rem;
    align-items: start;
    flex-direction: column;
    background-color: #aaa08a;
    border-radius: 3rem;
}

.issue-content h2 {
    font-family: 'Poor story';
    font-weight: bold;
    font-size: 25px;
} 
